.footer {
    background-color: hsl(0, 17%, 90%);
    color: #090909;
    padding: 20px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: auto;
    flex-wrap: wrap;
    padding: 0 20px;
}


.footer-info h4, .footer-social h4 {
    margin-bottom: 10px;
}

.footer-social a {
    display: block;
    margin: 5px 0;
    color: hsl(0, 0%, 5%);
    text-decoration: none;
}

.footer-social a:hover {
    color: #00aced;
}

/* Responsive Design */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }
}